/* --------------------- */
/* GENERAL STYLING */
/* --------------------- */

:root {
  --theme-grey: rgb(143, 141, 141);
  --theme-blue: #3777df;
  --theme-green: #00c9a7;
}

body {
  overflow-x: hidden
}

section {
  margin-bottom: 10%
}

p {
  font-weight: 500;
  line-height: 1.6;
}

.faded {
  color: var(--theme-grey);
}

.section-title {
  margin-bottom: 2em;
}

.section-title h2 {
  font-size: 2.5em;
  font-weight: 200;
  /* text-align: center; */
}

/* --------------------- */
/* HEADER STYLING */
/* --------------------- */

header {
  padding: 1em 0;
  background: #fff;
  box-shadow: 0px 2px 7px 1px var(--theme-grey);
  z-index: 1;
}

.navbar-brand {
  font-size: 1.9em;
}

.nav-item {
  padding: 0 .5em;
}

.nav-item a {
  font-size: 1.1em;
  font-weight: 400;
}

/* --------------------- */
/* BANNER STYLING */
/* --------------------- */

#banner {
  height: 100vh;
}

.banner-text div {
  width: 70%;
}

.banner-text h1 {
  font-weight: 300;
}

.banner-text p span {
  color: var(--theme-blue)
}

.banner-text button:first-of-type {
  color: var(--theme-blue);
  font-size: 1.15em;
  font-weight: 500;
  padding: .5em;
  background: #dfe8fa
}

.banner-text button:last-of-type i {
  color: var(--theme-green);
  font-size: 1em;
  padding: 1.2em;
  margin-right: .5em;
  background: #cdf0ea;
  border-radius: 50%;
  transition: .5s;
}

.banner-text button:last-of-type:hover i {
  color: #fff;
  background: var(--theme-green);
  transform: scale(1.2);
}

.curved {
  height: 28em;
  width: 100%;
  margin-left: auto;
  margin-right: -7em;
  margin-top: -2em;
  border-radius: 40% 0 0 40%;
  transform: rotate(-40deg);
  z-index: -1;
  position: relative;
  overflow: hidden;
}

.curved:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url('../images/banner.jpg');
  transform: rotate(40deg);
}

/* --------------------- */
/* FEATURES STYLING */
/* --------------------- */

#features .card {
  margin: auto;
  width: 95%;
  border: none;
}

.icon-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 1em;
}

.icon-wrapper i {
  font-size: 3.5em;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  2 z-index: 1;
}

.red {
  background: #f0caca;
}

.red .fa-yelp {
  color: #ff0000
}

.blue {
  background: #cdf0ea;
}

.blue .fa-fire {
  color: var(--theme-blue)
}

.green {
  background: #cdf0ea;
}

.green .fa-cogs {
  color: var(--theme-green)
}

/* --------------------- */
/* PRICING STYLING */
/* --------------------- */

#pricing .card {
  margin: 0 auto;
}

.card-header {
  width: 100%;
  height: 200px;
  background: rgb(55, 119, 223);
  background: linear-gradient(141deg, rgba(55, 119, 223, 1) 35%, rgba(0, 201, 167, 1) 92%);
  color: #fff
}

.card-header p {
  margin-bottom: 0;
}

.card-header p:first-of-type {
  font-size: 2em
}

.card-header p:last-of-type {
  font-size: 1.3em
}

.card-header p:last-of-type span {
  font-size: 2.5em
}

#pricing ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pricing ul li {
  display: inline-block;
  margin: 5px auto;
}

#pricing ul li i::before {
  color: var(--theme-blue);
  background: #dfe8fa;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 5px;
  vertical-align: middle;
  padding: 7px;
  font-size: 1em;
}